{% extends "base-layout.html.twig" %}


{% block content %}
{% if personList %}


<table class="table">
    <thead>
        <th>ID</th>
        <th>First name</th>
        <th>Last Name</th>
    </thead>
    <tbody>
        {% for i in personList %}
        <tr>
            <td>
            {{i["id"]}}
            </td>
            <td>
                <a href="/person/{{i.id}}">
                    {{ i.firstName }}
                    </a>
            </td>
            <td>
             {{i["lastName"]}}
            </td>
            <td>
                <a href="/person/form/{{ i.id }}" class="btn btn-primary">
                    modifier
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
   
</table>
{% endif %}






{% if person %}
<table class="table">
<tr>
    <th>Prenom</th>
    <td> {{person.firstName }}</td>

</tr>
<tr>
    <th>Nom</th>
    <td> {{person.lastName  }}</td>

</tr>
<tr>
    <th>Prenom</th>
    <td> {{person.firstName }}</td>

</tr>
<tr>
    <th>Address</th>
    <td> Street:  {{address.street }}<br>
        City:   {{address.city }}<br>
        Zipcode :    {{address.zipCode }}
    </td>

</tr>



</table>
<form action="/person/form/{{person.id}}">
    <button class ="btn btn-primary mt-2">Modify</button>
</form>
{% endif %}



{% endblock %}